{% extends "body.html.twig" %}

{% block suffixTitle %}
	Home
{% endblock %}

{% block javascript %}
	<script src="{{ asset('assets/js/redirectTo.js') }}"></script>
{% endblock %}

{% block mainContent %}

	<div class="d-flex justify-content-center align-items-center vh-100">
		<div class="text-center">
			<h1 class="mb-5">Welcome home</h1>
			{% for link in links %}
				<button class="btn btn-{{ link.style | default('primary') }} mb-2" onclick="redirectTo('{{ link.url }}', '{{ link.target | default('_self') }}')">
					{{ link.label }}
				</button>
			{% endfor %}
		</div>
	</div>

{% endblock %}
