<li class="list-group-item">

	<div class="row">

		<div class="col-6">
			<div class="d-flex align-items-center">
				{% set icon = this.getIconFromStatus(subject.status) %}
				<span class="material-symbols-outlined text-{{ icon.color }} me-3">{{ icon.icon }}</span>
				<a href="#" class="link-primary text-decoration-none">{{ this.subject.title }}</a>
			</div>
		</div>

		<div class="col-2">
			<small>
				<a href="#" class="link-primary text-decoration-none">
					{{ this.subject.user.name }}
				</a>
			</small>
		</div>

		<div class="col-4 text-end">
			<small>{{ this.subject.createdAt|date }}</small>
		</div>

	</div>

</li>
