{% extends "body.html.twig" %}

{% block suffixTitle %}
	Subjects list
{% endblock %}

{% block mainContent %}

	<nav class="row mb-3">
		<div class="col">
			<button class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false">
				<i class="bi bi-funnel"></i>
			</button>
			<div class="collapse" id="collapseFilters">
				<div class="border rounded p-2 mt-3">
					{% include 'components/subject/SubjectFormFilters.html.twig' with {'form': formFilters} %}
				</div>
			</div>
		</div>
		<div class="col">
			<twig:Utils:Pagination totalcount="{{ count }}" context="{{ context }}"/>
		</div>
	</nav>

	{% if subjects|length > 0 %}

		<div class="border rounded p-3">
			<table class="table table-sm mb-0">
				<thead>
					<tr>
						<th scope="col">Title</th>
						<th scope="col">Count</th>
						<th scope="col">User</th>
						<th scope="col">Created at</th>
					</tr>
				</thead>
				<tbody>
					{% for subject in subjects %}
						{% set icon = subject_status_icon(subject.entity) %}
						<tr>
							<td>
								<i class="{{ icon.class }} text-{{ icon.color }} me-1"></i>
								<a href="{{ path('app_subject_item', {'id': subject.entity.id}) }}" class="text-truncate text-decoration-none">{{ subject.entity.title }}</a>
							</td>
							<td>{{ subject.messagesCount }}</td>
							<td>
								<a href="#" class="text-decoration-none">
									{{ subject.entity.user.name }}
								</a>
							</td>
							<td>{{ subject.entity.createdAt|date }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="text-end mt-1">
			<twig:Utils:ResultCount count="{{ count }}"/>
		</div>

	{% else %}
		<twig:Utils:NoResultsFound what="subjects"/>
	{% endif %}


{% endblock %}
